<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.lnu.parking.mapper.ParkingMapper">
    <update id="pickUp">
        update t_parking
        set start_time = null,
            status = 0,
            car_num = null
        where  id = #{id}
    </update>
    <select id="getRemainder" resultType="cn.edu.lnu.parking.entity.RemainderVo">
        SELECT
            a.NAME AS area,
            COUNT( CASE WHEN b.type = 1 THEN 1 ELSE NULL END ) AS car,
            COUNT( CASE WHEN b.type = 2 THEN 1 ELSE NULL END ) AS motorcycle
        FROM
            `t_area` a
                LEFT JOIN t_parking b ON a.id = b.area_id
                AND b.`status` = 0
                AND b.is_private = 0
        GROUP BY
            a.`name`
    </select>
    <select id="getPage" resultType="cn.edu.lnu.parking.entity.CarNumPlaceRelVo">
        SELECT a.* , b.code , b.type , b.area_id FROM t_car_num_place_rel a
        LEFT JOIN t_parking b on a.parking_id = b.id
        <where>
            and a.user_id = #{vo.userId}
        </where>
    </select>
</mapper>